@model Servico

@{
    ViewData["Title"] = "Alterar Serviços do Porta Jóia";
}

<h2 class="row justify-content-md-center" id="h2-1">Alterar Serviço</h2>
<div class="row justify-content-md-center">
    <form method="POST" asp-controller="Servico" asp-action="Alterar" class="col-md-4" onsubmit="return mensagem(this);" name="formulario">
        <fieldset>
            <div class="form-group">
                <label asp-for="NomeServico">Servico</label>
                <input asp-for="NomeServico" class="form-control" required/>
            </div>
            
            <div class="form-group">
                <label asp-for="PrecoServico">Preço</label>
                <input asp-for="PrecoServico" class="form-control" required/>
            </div>
        </fieldset>
        
        <input asp-for="IdServico" type="hidden">
        <input type="submit" value="Alterar" class="btn btn-primary"/>
    </form>
</div>
