<div>
    <h2 class="text-center mb-5" id="h2-1">Estamos a disposição para atendê-los nos seguintes contatos</h2>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="~/imagens/Contatos/Facebook.png" class="card-img-top" alt="Facebook">
      <div class="card-body">
        <h5 class="card-text text-center">Conheça nossas promoções no Facebook.</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/imagens/Contatos/WatsApp.png" class="card-img-top" alt="WatsWapp">
      <div class="card-body">
        <h5 class="card-text text-center">(84) 99999-8888</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/imagens/Contatos/Instagram.png" class="card-img-top" alt="Instagram">
      <div class="card-body">
        <h5 class="card-text text-center">Siga-nos no Instagram</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/imagens/Contatos/Telefone.png" class="card-img-top" alt="Telefone">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h5 class="card-text text-center">(84) 3232-9845</h5>
      </div>
    </div>
  </div>
</div>
