
<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  <div class="col">
    <div class="card">
      <img src="~/imagens/QuemSomos.png" class="card-img-top" alt="Quem Somos">
      <div class="card-body">
        <h6 class="card-text text-justify">Somos uma empresa no ramo da beleza. Neste contexto buscamos oferecer aos nossos clientes produtos e serviços de qualidade objetivando elevar sua alta estima e melhor qualidade de vida.</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/imagens/Missao.png" class="card-img-top" alt="Missão">
      <div class="card-body">
        <h6 class="card-text text-justify">Criar vínculos fortes e duradouros com nossos clientes, ao oferecer produtos e serviços de alta qualidade, sempre de forma ética e socialmente responsáve​l.</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/imagens/Visao.png" class="card-img-top" alt="Visão">
      <div class="card-body">
        <h6 class="card-text text-justify">Ser a empresa de serviços de beleza e venda de cosméticos, preferida e admirada pelos clientes.</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="~/imagens/Valores.png" class="card-img-top" alt="Valores">
      <div class="card-body">
        <h6 class="card-text text-justify">RESPEITO, SEGURANÇA, QUALIDADE, EXCELÊNCIA, AMOR AO PRÓXIMO</h6>
      </div>
    </div>
  </div>
</div>