

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/snXlge_oxmE" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/Mx6VS628IZU" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
</div>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-5">
       
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ddXfzSNZB5w" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iZUhycJm4sc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

</div>
